<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组管理组件</title>
    <link rel="stylesheet" type="text/css" id="ThemeCssName" href="/ext/resources/ext-theme-classic/ext-theme-classic-all.css" />
    <link rel="stylesheet" type="text/css" id="ThemeCssName" href="/stylesheets/resMan.css" />
</head>
<body>

<script charset="utf-8" src="/ext/ext-all-debug.js"></script>
<script charset="utf-8" src="/ext/src/ux/ResourceManager.js"></script>
<script charset="utf-8" src="/javascripts/groupManagerIndex.js"></script>
</body>
</html>