<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <script charset="utf-8" src="/javascripts/jquery.min.js"></script>

    <title></title>
</head>
<body>
<header class="header"></header>
<aside class="tree_menu"></aside>
<div class="content"></div>
<footer class="footer">
    <input type="file"/>
</footer>

<script charset="utf-8" src="/javascripts/home.js"></script>
</body>
</html>